.not_authorized
{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.center {
    position: absolute;
    transform: translate(0, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
    }