<nav id="sidebar">
  <div id="dismiss">
    <i class="fa fa-arrow-left"></i>
  </div>

  <ul class="list-unstyled components">

    <li>
      <a routerLink="/" >Home</a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active">About</a>
    </li>
    <li>
      <a routerLink="/restaurants" routerLinkActive="active">Catalogue</a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active">Best reviewed</a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active">Contact Us</a>
    </li>
  </ul>
</nav>
